@font-face {
    font-family: SeoulHangangB;
    src:url('./fonts/SeoulHangangB.ttf');
    src:url('./fonts/나눔손글씨 딸에게 엄마가.ttf');
}

*{
    margin: 0px;
    padding: 0px;
}


/*특정 부분 스크롤바 없애기*/ 
body{ 
    -ms-overflow-style: none; 
} 
::-webkit-scrollbar {
    display: none; 
} 
.box { 
    ms-overflow-style: none; 
} 
.box::-webkit-scrollbar{ 
    display:none; 
}



.main {
    width: 100%;
    height: 1100px;
    position: relative;
    background-image: url(img/garbage1.jpg);
    height: 100vh;
    background-size: cover;

}
.title {
    font-size: 100px;
    font-family: 'SeoulHangangB';
    line-height: 110px;
    padding-top: 250px;
    padding-left: 480px;
    color: #000000;
    font-style: bold;
}
.serve {
    font-size: 50px;
    font-family: 'SeoulHangangB';
    padding-top: 45px;
    padding-left: 630px;
    color: #000000;
    font-style: bold;
}
.menu1 {
    font-size: 30px;
    font-family: 'SeoulHangangB';
    border: 2px solid #000000;
    color: #000000;
    width: 180px;
    height: 50px;
    text-align: center;
    line-height: 52px;
    margin-top: 180px;
    margin-left: 130px;
    border-top-left-radius: 50px 50px;
    border-top-right-radius: 50px 50px;
    border-bottom-left-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
}
.menu2 {
    font-size: 30px;
    font-family: 'SeoulHangangB';
    border: 2px solid #000000;
    color: #000000;
    width: 180px;
    height: 50px;
    text-align: center;
    line-height: 52px;
    margin-top: 35px;
    margin-left: 130px;
    border-top-left-radius: 50px 50px;
    border-top-right-radius: 50px 50px;
    border-bottom-left-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
}
.menu3 {
    font-size: 30px;
    font-family: 'SeoulHangangB';
    border: 2px solid #000000;
    color: #000000;
    width: 180px;
    height: 50px;
    text-align: center;
    line-height: 52px;
    margin-top: 35px;
    margin-left: 130px;
    border-top-left-radius: 50px 50px;
    border-top-right-radius: 50px 50px;
    border-bottom-left-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
}

.Introduce {
    width: 100%;
    height: 1100px;
    background-color: #50586C;
}
.introduce1 {
    font-family: 'SeoulHangangB';
    font-size: 60px;
    padding-top:200px;
    padding-left: 150px;
    color: #DCE2F0;
}.introduce2 {
    font-family: 'SeoulHangangB';
    font-size: 40px;
    padding-top:40px;
    padding-left: 150px;
    color: #DCE2F0;
}
.introduce3 {
    font-family: 'SeoulHangangB';
    font-size: 40px;
    padding-top:40px;
    padding-left: 150px;
    color: #DCE2F0;
}
.introduce4 {
    font-family: 'SeoulHangangB';
    font-size: 40px;
    padding-top:40px;
    padding-left: 150px;
    color: #DCE2F0;
}
.introduce5 {
    font-family: 'SeoulHangangB';
    font-size: 40px;
    padding-top:40px;
    padding-left: 150px;
    color: #DCE2F0;
}
.introduce6 {
    font-family: 'SeoulHangangB';
    font-size: 40px;
    padding-top:40px;
    padding-left: 150px;
    color: #DCE2F0;
}
