<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./four.css"/>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
          <span id="home"><span class="ion-camera"></span></span>
          <div class="box">
            <ul>
                <li><a href="reason.html">분리수거 이유</a></li>
                <li><a href="way.html">분리수거 방법</a></li>
                <li><a href="growing_sprouts.html">새싹 키우기</a></li>
                <li><a href="machine.html">분리수거 머신</a></li>
                <li><a href="mypage.html">마이 페이지</a></li>
            </ul>
          </div>
        </div>
    </header>

    <div class="section">
        <p class="title">4가지만 기억하기!</p>
        <p class="underscore">4가지</p>
        <div class="contents">
            <p class="text1">⭐ 1. 비운다 : 용기 안에 담겨있는 내용물을 깨끗하게 비워 배출합니다.</p>
            <p class="text2">⭐ 2. 헹군다 : 재활용품에 음식물, 이물질 등이 남아있다면 헹궈서 배출</p>
            <p class="text3">⭐ 3. 분리한다 : 라벨이나 서로 다른 재질의 물건을 분리해서 배출</p>
            <p class="text4">⭐ 4. 섞지 않는다 : 종류별, 재질별로 구분하여 배출</p>
        </div>
        <button type="button" onclick="location.href='way.html'">이전</button>
    </div>
</body>
</html>