<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="style_login.css" />
    <link rel="stylesheet" href="inputBox.css" />
    <link rel="stylesheet" href="button01.css"/>
</head>

<body>
    <div id="entire_container">
        <header>
            헤더입니다
        </header>
        <div id="login_panel">
            <form action="/login" method="POST">
                <div class="container">
                    <div>
                        <p class="title">로그인</p>
                            <div class="omrs-input-group">
                                <label class="omrs-input-underlined omrs-input-danger">
                                    <input type="email" name="email" required>
                                    <span class="omrs-input-label">아이디</span>
                                    <!-- <span class="omrs-input-helper">Helper Text</span> -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="none" d="M0 0h24v24H0V0z" />
                                        <circle cx="15.5" cy="9.5" r="1.5" />
                                        <circle cx="8.5" cy="9.5" r="1.5" />
                                        <path
                                            d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm-5-6c.78 2.34 2.72 4 5 4s4.22-1.66 5-4H7z" />
                                    </svg>
                                </label>
                            </div>
                            <div class="omrs-input-group">
                                <label class="omrs-input-underlined omrs-input-danger">
                                    <input type="password" name="password" required>
                                    <span class="omrs-input-label">비밀번호</span>
                                    <span class="omrs-input-helper"></span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="none" d="M0 0h24v24H0V0z" />
                                        <circle cx="15.5" cy="9.5" r="1.5" />
                                        <circle cx="8.5" cy="9.5" r="1.5" />
                                        <path
                                            d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm-5-6c.78 2.34 2.72 4 5 4s4.22-1.66 5-4H7z" />
                                    </svg>
                                </label>
                            </div>
                            <button id="lobin_btn">로그인</button>
                            <button class="exit_btn">취소</button>
                        </form>
                    </div>
                    <div>
                    </div>
                </div>
            </form>
        </div>
        <footer>
            footer
        </footer>
    </div>
</body>

</html>