<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styrofoam.css"/>
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
          <span id="home"><span class="ion-camera"></span></span>
          <div class="box">
            <ul>
                <li><a href="reason.html">분리수거 이유</a></li>
                <li><a href="way.html">분리수거 방법</a></li>
                <li><a href="growing_sprouts.html">새싹 키우기</a></li>
                <li><a href="machine.html">분리수거 머신</a></li>
                <li><a href="mypage.html">마이 페이지</a></li>
            </ul>
          </div>
        </div>
    </header>

    <div class="section">
        <p class="title">스티로폼류</p>
        <p class="underscore">스티로폼류</p>
        <div class="contents">
            <p class="text1">🥡 스티로폼은 전체가 흰 색인 경우 분리수거가 가능.</p>
            <p class="text2">🥡 택배 운송장 테이브를 제거하고 버리기.</p>
            <p class="text3">🥡 스티로폼에 이물질이 많이 묻었거나 컵라면 용기처럼 <br/>코팅된 유색 스티로폼과 은 재활용은 불가능하니 종량제 봉투에 넣어버리기.</p>
        </div>
        <button type="button" onclick="location.href='way.html'">이전</button>
    </div>
</body>
</html>