@font-face {
    font-family: 'SeoulHangangM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'SeoulHangangM' !important;
}
#entire_container{
    background-color: #50586C;
}
header{
    background-color: aqua;
    width: 40%;
    min-height: 100px;
    margin: 0 auto;
}
#login_panel{
    background-color: inherit;
    width: 30%;
    min-height: 500px;
    margin: 0 auto;
}
footer{
    background-color: chocolate;
    width: 40%;
    min-height: 91px;
    margin: 0 auto;
}