@font-face {
  font-family: 'SeoulHangangM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
button{
  margin: 0 auto;
  font-family: 'SeoulHangangM' !important;
  background: #DCE2F0;
  color: #1d1d1d;
  cursor: pointer;
  padding: 0.7rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 10px;
  position: relative;
  max-width: 250px;
  min-width: 180px;
  border: 1px solid #50586C;
  font-size: 20px;
}
button::after {
  content: "\f2f6";
  position: absolute;
  left: 10%;
  top: 5%;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform: translate(-10%, -10%);
}
button:hover {
    background: #50586C;
    transition: all 0.5s;
    border-radius: 10px;
    /* padding: 1.5rem 3rem 1.5rem 1.5rem; */
    color: #DCE2F0;
    border: 1px solid #DCE2F0;
}